
<div class="jumbotron center">
<h1>Mensch Hallo!</h1>
<p>
	<%= link_to "anmelden", "#", class: "btn btn-default btn-lg"%>
	<%= link_to "registrieren", "#", class: "btn btn-primary btn-lg"%>
</p>
</div>